html {
    font-family: 'Play', sans-serif;
}

#player {
    color: red;
}

#computer {
    color: blue;
}
#Rock, #Scissors, #Paper {
    padding: 40px;
    font-family: 'Play', sans-serif;
}

#button-area {
    margin: auto;
    width: 50%;
    text-align: center;
}
.computer {
    
}
.player {
    
}