html {
    font-family: 'Play', sans-serif;
}
body {
    background-color: #efefef;
}
#player {
    color: red;
}

#computer {
    color: blue;
}
#Rock, #Scissors, #Paper {
    padding: 40px;
    font-family: 'Play', sans-serif;
    margin: auto;
    border-bottom-right-radius: 2px;
}

#button-area {
    margin: auto;
    width: 50%;
    text-align: center;
}
.computer {
    
}
.player {
    
}