html {
    font-family: 'Play', sans-serif;
}
body {
    background-color: #efefef;
}
#player {
    color: red;
}

#computer {
    color: blue;
}
#Rock, #Scissors, #Paper {
    padding: 40px;
    font-family: 'Play', sans-serif;
    margin: auto;
    border-bottom-right-radius: 2px;
}

#button-area {
    margin: auto;
    width: 50%;
    text-align: center;
}
.* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    text-align: center;
  }
  
  /* Create 2 equal columns that sit next to each other */
  .column {
    flex: 50%;
    padding: 5px;
  }